@model Api.Controllers.AccountController.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Login" method="post" class="form-horizontal" data-validate="true" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ReturnUrl" />
    <div asp-validation-summary="ModelOnly" class="text-danger" data-validation-summary="true"></div>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" autocomplete="username" required />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" autocomplete="current-password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<p>
    Don't have an account?
    <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
